:root{
    --c-main: #54ABFC;
    --c-secondary: rgba(3, 128, 244, 0.5);
    --c-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25);
    --c-background: rgba(196, 196, 196, 0.33);
    --c-background-dark: rgba(196, 196, 196, 0.82);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
  }
  
a {
    text-decoration: none;
}
  
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
}